@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  padding-bottom: 60px;

  .container {
    .carousel-slides {
      position: relative;

      .carousel-arrows {
        position: absolute;
        z-index: 5;
        display: flex;
        top: calc(50% - 10px);

        a {
          width: 15px;
          height: 28px;
          text-decoration: none;
          cursor: pointer;
          position: absolute;
        }

        .move-backward {
          left: 10px;
        }

        .move-forward {
          right: calc(100% - 1230px);
        }

      }

      .carousel-slide {
        background-repeat: no-repeat;
        background-position: right;
        height: 500px;

        .carousel-slide-block {
          background-repeat: no-repeat;
          background-position: initial;
          padding-top: 100px;
          padding-bottom: 180px;
          padding-left: 80px;
          //height: -webkit-fill-available;

          .carousel-slide-text-above-title {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 6px;
            color: $light-blue-main;
          }

          .carousel-slide-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 50px;
            line-height: 65px;
            max-width: 610px;
            color: #ffffff;
            margin-bottom: 20px;

            span {
              color: $light-blue-main;
            }
          }

          .carousel-slide-text {
            font-size: 24px;
            line-height: 31.2px;
            color: #ffffff;
            max-width: 456px;
            margin-bottom: 30px;
          }

          .carousel-slide-action {
            margin-top: 20px;
            cursor: pointer;

            .button {
              width: 163px;
            }
          }


        }
      }
    }
  }
}

.our-services {
  padding: 60px 0;

  .container {
    .our-services-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }
  }
}

.about-us {
  padding: 60px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .about-us-image {
      width: 460px;
      background-repeat: no-repeat;
      background-position: top;
    }

    .about-us-info {
      max-width: 703px;

      .about-us-info-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .about-us-info-text {
        font-size: 14px;
        line-height: 18.2px;
        color: #1E1A2B;
        max-width: 633px;
        margin-bottom: 40px;
        span {
          font-family: Montserrat, sans-serif;
          font-weight: 500;
        }
      }
      .about-us-info-pros {
        .about-us-info-pros-title {
          font-family: Lora, sans-serif;
          font-weight: 400;
          font-size: 26px;
          margin-bottom: 20px;
          color: $light-blue-main;
        }
        .about-us-info-items {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          column-gap: 71px;
          row-gap: 20px;
          .about-us-info-pros-item {
            display: flex;
            align-items: center;
            .about-us-info-pros-item-number {
              position: relative;
              .circle {
                width: 40px;
                height: 40px;
                background: #B9D5FD;
                border-radius: 50%;
              }

              .number {
                position: absolute;
                font-family: Lora, sans-serif;
                font-weight: 500;
                font-size: 50px;
                color: $light-blue-main;
                bottom: -5px;
                left: 10px;
              }

            }
            .about-us-info-pros-item-text {
              margin-left: 20px;
              font-size: 14px;
              line-height: 18.2px;
              color: #1E1A2B;

              span {
                font-family: Montserrat, sans-serif;
                font-weight: 500;
              }

            }
          }
        }
      }
    }
  }
}

.popular-articles {
  padding: 60px 0;
  .container {
    .popular-articles-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }
    .popular-articles-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .popular-articles-action {
      margin-top: 40px;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      a {
        text-decoration: none;
        cursor: pointer;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: $light-blue-main;
        display: flex;
        align-items: baseline;
        svg {
          margin-left: 14px;
        }
      }
    }
  }
}

.reviews {
  padding: 60px 0;
  .container {
    .reviews-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }
    .reviews-carousel {
      position: relative;
      .review-item {
        max-width: 396px;
        height: 267px;
        border: 2px solid $light-blue-main;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 30px;

        .review-item-head {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 26px;
          }
          .review-item-name {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $light-blue-main;
          }
        }
        .review-item-text {
          line-height: 22.4px;
          color: $dark-blue-main;
        }
      }
      .reviews-arrows {
        position: absolute;
        top: 45%;
        a {
          width: 18px;
          height: 10px;
          cursor: pointer;
        }
        .move-backward {
          left: -25px;
          position: absolute;
        }
        .move-forward {
          position: absolute;
          right: -1250px;
        }
      }
    }
  }
}

.our-location {
  padding-top: 60px;
  padding-bottom: 120px;
  .container {
    display: flex;
    align-items: flex-start;
    .location-map {
      max-width: 607px;
      iframe {
        width: 607px;
        height: 438px;
      }
    }
    .location-address {
      max-width: 501px;
      margin-left: 26px;
      .location-address-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }
      .location-address-items {
        .location-address-item {
          margin-bottom: 20px;
          .location-address-item-title {
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: $light-blue-main;
            margin-bottom: 10px;
          }
          .location-address-item-text {
            font-size: 14px;
            line-height: 18.2px;
          }
          &.social-medias {
            .location-address-item-text {
              a {
                width: 30px;
                height: 30px;
                text-decoration: none;
                margin-right: 20px;

                &:last-child {
                  margin-right: 0;
                }
              }

            }
          }
        }
      }
    }
  }
}