<section class="login">
    <div class="container">
        <div class="authorization-form">
            <div class="authorization-title">Войти в личный кабинет</div>
            <div class="authorization-inputs">
                <div class="authorization-input">
                    <input type="text" class="input" placeholder="Электронная почта">
                </div>
                <div class="authorization-input">
                    <input type="password" class="input" placeholder="Пароль">
                </div>
                <div class="authorization-checkbox">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Запомнить меня</label>
                </div>
            </div>
            <div class="authorization-button">
                <button class="button">Войти</button>
            </div>
            <div class="authorization-link">
                Нет аккаунта? <a routerLink="signup">Пройдите регистрацию</a>
            </div>
        </div>
        <div class="page-image">
            <img src="/assets/images/page/login-image.png" alt="Page image">
        </div>
    </div>
</section>