<div class="article-card">
    <div class="article-card-topic">
        Фриланс
    </div>
    <div class="article-card-image" style="background-image: url('assets/images/page/our-services/service1.png')"></div>
    <div class="article-card-info">
        <div class="article-card-title">6 сайтов для повышения продуктивности</div>
        <div class="article-card-text">
            Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит вашу
            продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
        </div>
    </div>

    <div class="article-card-read-more">
        <a href="#">Читать дальше</a>
    </div>
</div>