@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins";

.article {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .article-breads {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #B9D5FD;
      margin-bottom: 60px;

      a {
        text-decoration: none;
        color: #B9D5FD;
        cursor: pointer;

        &.active-link {
          font-family: Montserrat, sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: variables.$light-blue-main;
        }
      }

      div {
        margin: 0 8px;
      }
    }

    .article-block {
      .article-block-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 60px;

        .article-block-header-text {
          max-width: 607px;

          .article-block-header-text-title {
            @include mixins.head-lora-38;
            margin-bottom: 40px;
          }

          .article-block-header-text-subtitle {
            font-size: 20px;
            line-height: 26px;
            color: variables.$light-blue-main;
          }
        }

        .article-block-image {
          height: 320px;
          width: 527px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .article-block-main {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 18.2px;
        color: variables.$dark-blue-main;
        margin-bottom: 20px;

        .article-block-main-text {
          max-width: 818px;

          .article-block-text {
            .text-block {
              margin-bottom: 40px;
            }
          }

          .share-the-article {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 60px;

            .share-the-article-text {
              font-family: Montserrat, sans-serif;
              font-weight: 500;
              font-size: 14px;
              color: variables.$light-blue-main;
              margin-right: 7px;
            }

            .share-the-article-links {
              button {
                border: none;
                margin-left: 13px;
                text-decoration: none;
                cursor: pointer;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                padding: 0;
                background-color: transparent;
                svg {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }

          .comments-block {
            .comments-block-title {
              @include mixins.head-lora-38;
              margin-bottom: 20px;
            }

            .comments-block-requirements {
              font-size: 14px;
              color: variables.$dark-blue-main;
              margin-bottom: 60px;

              a {
                text-decoration: none;
                color: variables.$light-blue-main;
                cursor: pointer;
              }

              &.without-comments {
                margin-bottom: 40px;
              }
            }

            .leave-a-comment {
              display: flex;
              flex-flow: column;
              margin-bottom: 60px;

              .input {
                height: 248px;
                margin-bottom: 20px;

                &::placeholder {
                  font-size: 14px;
                  line-height: 18.2px;
                  color: #A8ABA7;
                }
              }

              .button {
                width: 422px;
              }
            }

            .users-comments-pagination {
              display: block;
              &.hide {
                display: none;
              }
              a {
                cursor: pointer;
                text-decoration: none;
                display: flex;
                font-family: Montserrat, sans-serif;
                font-weight: 500;
                font-size: 20px;
                color: variables.$light-blue-main;
                svg {
                  margin-left: 10px;
                }
              }
            }
          }
        }

        .article-block-layout {
          width: 292px;
          padding-top: 60px;

          .article-block-layout-title {
            font-family: Lora, sans-serif;
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 20px;
            color: variables.$light-blue-main;
          }
        }
      }
    }
  }
}