@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.blog-page {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .blog-page-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-page-head {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          border: 2px solid $light-blue-main;
          box-sizing: border-box;
          padding: 8px 20px;
          color: $light-blue-main;
          text-align: center;
          border-radius: 5px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .blog-soring-block {
        width: 148px;
        min-width: 148px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        .blog-sorting-head {
          display: flex;
          align-items: center;
          color: $dark-blue-main;
          justify-content: space-between;
          padding: 12px 23px;

          span {
            margin-right: 14px;
          }
        }

        .blog-sorting-body {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          z-index: 5;
          display: none;
          padding: 12px 23px;
          border: 2px solid #B9D5FD;
          border-radius: 0 0 5px 5px;
          background-color: #FFFFFF;
          color: #BEBEBE;

          .blog-sorting-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;
            cursor: pointer;
            .add-to-sorting {
              display: block;
            }
            .added {
              display: none;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              color: #B9D5FD;
              svg path {
                fill: #B9D5FD;
              }
            }

            &.active {
              color: $dark-blue-main;
              .add-to-sorting {
                display: none;
              }
              .added {
                display: block;
              }
              svg path {
                fill: $dark-blue-main;
              }
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;

          .blog-sorting-head {
            background: #B9D5FD;
            color: $dark-blue-main;
            padding-right: 23px;
            border-radius: 5px 5px 0 0;
            svg {
              rotate: 180deg;
            }
          }

          .blog-sorting-body {
            display: block;
          }
        }
      }
    }

    .blog-articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px 40px;
    }

    .blog-page-pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &.left {
          margin-right: 20px;
          .active-backward-arrow {
            display: block;
          }
          .disabled-backward-arrow {
            display: none;
          }
        }
        &.left.disabled{
          .active-backward-arrow {
            display: none;
          }
          .disabled-backward-arrow {
            display: block;
          }
        }
        &.right {
          margin-left: 20px;
          .active-forward-arrow {
            display: block;
          }
          .disabled-forward-arrow {
            display: none;
          }
        }
        &.right.disabled {
          .active-forward-arrow {
            display: none;
          }
          .disabled-forward-arrow {
            display: block;
          }
        }
      }

      .pagination-pages {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;

        a.pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;
          text-align: center;
          width: 12px;
          margin-right: 20px;
          color: $dark-blue-main;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: #B9D5FD;
          }

        }

      }

    }
  }
}