@import "variables";

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: $light-blue-main;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  border: 0;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  &:disabled {
    background-color: #BEBEBE;
  }
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $light-blue-main;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  &::placeholder {
    color: #A8ABA7;
  }
  color: $light-blue-main;
}

.owl-carousel {
  position: relative !important;
}
.owl-dots.ng-star-inserted {
  position: absolute !important;
  left: 50%;
  bottom: calc(10% - 40px);
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #FFFFFF!important;
  background: transparent;
  box-sizing: border-box;
  margin: 5px 10px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #FFFFFF;
}

.owl-nav.ng-star-inserted {
  display: none!important;
}

h1, h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  color: $light-blue-main;
}

.article-block-layout {
  .article-card {
    margin-bottom: 60px;
  }
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none!important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #FFFFFF!important;
}

.mat-mdc-text-field-wrapper .mdc-text-field mdc-text-field--filled, .mdc-text-field {
  padding: 0!important;
}

.mdc-line-ripple::before, .mdc-line-ripple::after {
  border-bottom-style: none!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #A8ABA7!important;
}

.mat-mdc-select-arrow svg {
  fill: #A8ABA7!important;
}

.mat-mdc-form-field-infix {
  width: 422px!important;
  margin-bottom: 5px!important;
  border-radius: 5px;
  border: 2px solid $light-blue-main;
  padding: 17px 20px;
}
.mat-mdc-option:hover, .mat-mdc-select {
  color:$light-blue-main!important;
}

.ng-star-inserted .error-feedback.ng-star-inserted, .error-feedback {
  text-align: left;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}