<div class="our-services-items">
    <div class="our-services-item">
        <div class="our-services-item-image"
             style="background-image: url('assets/images/page/our-services/service1.png')"></div>
        <div class="our-services-item-info">
            <div class="our-services-item-info-name">Создание сайтов</div>
            <div class="our-services-item-info-text">В краткие сроки мы создадим качественный и самое главное продающий
                сайт для продвижения Вашего бизнеса!
            </div>
        </div>
        <div class="our-services-item-action">
            <div class="price">От 7 500₽</div>
            <button class="button">Подробнее</button>
        </div>
    </div>
    <div class="our-services-item">
        <div class="our-services-item-image"
             style="background-image: url('assets/images/page/our-services/service2.png')"></div>
        <div class="our-services-item-info">
            <div class="our-services-item-info-name">Продвижение</div>
            <div class="our-services-item-info-text">Вам нужен качественный SMM-специалист или грамотный таргетолог? Мы
                готовы оказать Вам услугу “Продвижения” на наивысшем уровне!
            </div>
        </div>
        <div class="our-services-item-action">
            <div class="price">От 3 500₽</div>
            <button class="button">Подробнее</button>
        </div>
    </div>
    <div class="our-services-item">
        <div class="our-services-item-image"
             style="background-image: url('assets/images/page/our-services/service3.png')"></div>
        <div class="our-services-item-info">
            <div class="our-services-item-info-name">Реклама</div>
            <div class="our-services-item-info-text">Без рекламы не может обойтись ни один бизнес или специалист.
                Обращаясь к нам, мы гарантируем быстрый прирост клиентов за счёт правильно настроенной рекламы.
            </div>
        </div>
        <div class="our-services-item-action">
            <div class="price">От 1 000₽</div>
            <button class="button">Подробнее</button>
        </div>
    </div>
    <div class="our-services-item">
        <div class="our-services-item-image"
             style="background-image: url('assets/images/page/our-services/service4.png')"></div>
        <div class="our-services-item-info">
            <div class="our-services-item-info-name">Копирайтинг</div>
            <div class="our-services-item-info-text">Наши копирайтеры готовы написать Вам любые продающие текста,
                которые не только обеспечат рост охватов, но и помогут выйти на новый уровень в продажах.
            </div>
        </div>
        <div class="our-services-item-action">
            <div class="price">От 750₽</div>
            <button class="button">Подробнее</button>
        </div>
    </div>
</div>