<div class="our-services-items">
    <div class="our-services-item" *ngFor="let service of services">
        <div class="our-services-item-image"
             style="background-image: url('assets/images/page/our-services/{{service.image}}')"></div>
        <div class="our-services-item-info">
            <div class="our-services-item-info-name">{{service.title}}</div>
            <div class="our-services-item-info-text">{{service.description}}</div>
        </div>
        <div class="our-services-item-action">
            <div class="price">От {{service.price}}</div>
            <button class="button" (click)="showRequestPopup(service)">Подробнее</button>
        </div>
    </div>
</div>